@import url("@tabler/icons-webfont/dist/tabler-icons.min.css");

@keyframes spin {
    from {
        transform: rotate(0deg); /* Starting state: no rotation */
    }
    to {
        transform: rotate(360deg); /* Ending state: full rotation */
    }
}

.rotate-animation {
    animation: spin 1s infinite linear; /* Applies the 'spin' animation */
}
/* 
input.form-control[name="icon"]::placeholder {
    color: black;
} */

input.form-control[name="icon"] {
    caret-color: transparent; /* sembunyikan kursor teks */
}

td a i {
    font-size: 16px;
}

.nav-link-icon i {
    height: 100%;
    font-size: 1.2rem;
}

/* === Overwrite khusus .form-select === */
.form-select,
.form-select::picker(select) {
    appearance: base-select;
}

.form-select {
    font-size: var(--tblr-font-size);
    /* font-weight: 400; */
    border: 1px solid var(--tblr-border-color);
    border-radius: var(--tblr-border-radius);
    /* padding: 0.375rem 2rem 0.375rem 0.75rem; */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* .form-select:hover {
    border-color: #bdbdbd;
    background-color: #f8f9fa;
} */

.form-select:open {
    /* border-color: #86b7fe; */
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-select:focus {
    border-color: none !important;
    box-shadow: none !important;
}

/* === Picker dropdown === */
.form-select::picker(select) {
    border: 1px solid var(--tblr-border-color);
    background: var(--tblr-bg-surface);
    border-radius: var(--tblr-border-radius);
    box-shadow: var(--tblr-box-shadow-dropdown);
    padding: 0.25rem;
    margin-block: 4px;
}

.form-select option {
    display: flex;
    gap: 10px;
    padding: 0.375rem 0.75rem;
    border-radius: var(--tblr-border-radius);
    background: transparent;
    transition: background 0.15s ease-in-out;
}

.form-select option:hover,
.form-select option:focus {
    background: var(--tblr-bg-surface-secondary);
}

.form-select option:checked {
    font-weight: 500;
    background: var(--tblr-bg-surface-secondary);
    color: var(--tblr-primary);
}

/* === Picker Icon Rotation === */
.form-select::picker-icon {
    color: #6c757d;
    transition: transform 0.3s ease;
    display: none;
}
.form-select:open::picker-icon {
    transform: rotate(180deg);
}
