/* Course Module CSS */

/*=================================
    DASHBOARD ADD COURSE START
=================================*/
input,
textarea,
.select_js {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid rgba(30, 30, 47, 0.1);
    font-weight: 400;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: var(--tblr-bg-forms);
}

input::placeholder,
textarea::placeholder {
    color: #787882;
}

.dashboard_add_courses {
    /* padding: 30px; */
}

.dashboard_add_courses .nav-pills {
    gap: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(30, 30, 47, 0.1);
    padding-bottom: 10px;
}

.dashboard_add_courses .nav-pills .nav-item .nav-link {
    cursor: pointer;
    background: var(--tblr-primary-fg);
    color: black;
    padding: 10px 20px !important;
    border-radius: 8px !important;
    transition: all linear 0.3s;
    font-size: 15px;
    font-weight: 500;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.dashboard_add_courses .nav-pills .nav-item .nav-link:hover {
    color: var(--tblr-primary);
}

.dashboard_add_courses .nav-pills .nav-item .nav-link.active {
    background: var(--tblr-primary);
    color: var(--tblr-primary-fg);
}

.add_course_basic_info_imput,
.add_course_more_info_input {
    margin-bottom: 20px;
}

.add_course_basic_info_imput label,
.add_course_more_info_input label {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: inherit;
    margin-bottom: 3px;
}

.add_course_basic_info_imput label b {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    color: var(--paraColor);
}

.add_course_basic_info_imput input,
.add_course_more_info_input input {
    font-size: 16px;
}

.add_course_basic_info_imput p,
.add_course_more_info_input p {
    margin-top: 5px;
}

.add_course_basic_info_imput input[type="file"] {
    padding: 0;
}

.add_course_basic_info_imput input[type="file"]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: var(--tblr-primary);
    height: 49px;
    padding: 0px 20px;
    color: var(--tblr-primary-fg);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
}

.add_course_basic_info_imput input[type="file"]::file-selector-button:hover {
    background: #1245bd;
}

.add_course_basic_info_imput .nice-select {
    border-radius: 6px;
    border: solid 1px rgba(30, 30, 47, 0.1) !important;
    height: 50px;
    line-height: 48px;
    margin-bottom: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.add_course_basic_info_imput .nice-select .current {
    font-size: 16px;
    color: inherit;
}

.add_course_basic_info_imput .nice-select:after {
    right: 18px;
}

.add_course_more_info_checkbox {
    margin-bottom: 27px;
}

.add_course_more_info_checkbox .form-check {
    padding-left: 0;
}

.add_course_more_info_checkbox .form-check input {
    padding: 0;
    float: right;
    border-color: #d5d2d2;
}

.add_course_more_info_checkbox .form-check label {
    display: block;
    font-size: 16px;
    color: inherit;
    margin: 10px 0px;
}

.add_course_more_info_radio_box {
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 25px 25px 15px 25px;
    margin-bottom: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.add_course_more_info_radio_box h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 5px;
}

.add_course_more_info_radio_box label {
    display: block;
    font-size: 16px;
    color: inherit;
    margin: 10px 0px;
}

.add_course_more_info_radio_box input {
    padding: 0;
    border-color: #d5d2d2;
}

.add_course_content .accordion-header {
    position: relative;
}

.add_course_content .accordion-item .accordion-button:not(.collapsed) {
    color: var(--tblr-primary);
    background-color: var(--colorLightBg);
    box-shadow: none;
}

.add_course_content .accordion-item button {
    display: inline-block;
    background: var(--tblr-primary-fg);
    padding-right: 130px;
    padding-left: 55px;
    position: relative;
}

.add_course_content .accordion-item button span {
    color: inherit;
    font-size: 18px;
    font-weight: 500;
}

.add_course_content .accordion-item button::before {
    position: absolute;
    content: "\f07c";
    font-family: "font awesome 5 free";
    font-size: 16px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--tblr-primary);
    color: var(--tblr-primary-fg);
    top: 7px;
    left: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.add_course_content .accordion-button::after {
    background: var(--bs-accordion-btn-icon) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    border: none;
    width: 15px;
    height: 15px;
    position: absolute;
    margin-left: 15px;
    top: 19px;
}

.add_course_content_action_btn {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 9;
}

.add_course_content_action_btn .dropdown-menu {
    z-index: 99;
}

.add_course_content_action_btn .dropdown-menu li a {
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.add_course_content_action_btn .dropdown-menu li a:hover {
    background: none;
    color: var(--tblr-primary);
}

.add_course_content_action_btn .edit {
    font-size: 18px;
    color: inherit;
}

.add_course_content_action_btn .del {
    font-size: 18px;
    color: red;
}

.add_course_content_action_btn .arrow {
    font-size: 18px;
    color: var(--tblr-primary);
}

.add_course_content_action_btn .dropdown-toggle {
    white-space: nowrap;
    background: var(--tblr-primary) !important;
    border: none;
    padding: 3px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.add_course_content .item_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.add_course_content .item_list li {
    color: inherit;
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    padding: 13px 50px 13px 55px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.add_course_content .item_list li span {
    color: inherit;
    font-size: 18px;
    font-weight: 500;
}

.add_course_content .item_list li::before {
    position: absolute;
    content: "\f03d";
    font-family: "font awesome 5 free";
    font-size: 16px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--tblr-primary);
    color: var(--tblr-primary-fg);
    top: 7px;
    left: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.add_course_content .item_list .add_course_content_action_btn {
    top: 13px;
}

.item_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
}

.item_list li {
    list-style: none;
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid rgba(4, 32, 69, 0.14);
    padding: 13px 50px 13px 55px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.item_list li span {
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 500;
}

.item_list li::before {
    position: absolute;
    content: "\f03d";
    font-family: "font awesome 5 free";
    font-size: 16px;
    font-weight: 600;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--tblr-primary);
    color: var(--tblr-primary-fg);
    top: 7px;
    left: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.item_list action_btn {
    top: 13px;
}
